<a href="https://colab.research.google.com/github/frankgeorge/Clustering/blob/master/Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/9b/34/fffc601aa4d44b94e945a7cc72f477e09dffa7dce888898f2ffd9f4e343e/kmodes-0.11.0-py2.py3-none-any.whl
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)
Installing collected packages: kmodes
Successfully installed kmodes-0.11.0

In [2]:
import numpy as np
import pandas as pd

In [3]:
from kmodes.kprototypes import KPrototypes

In [4]:
df = pd.read_csv('/content/drive/MyDrive/marketing_cva_f.csv')

In [5]:
df

     Customer       State  ...  Vehicle_Class avg_vehicle_age
0     BU79786  Washington  ...   Two-Door Car       40.696695
1     AI49188      Nevada  ...   Two-Door Car       48.755298
2     HB64268  Washington  ...  Four-Door Car       70.394474
3     OC83172      Oregon  ...   Two-Door Car       53.460212
4     XZ87318      Oregon  ...  Four-Door Car       32.811507
...       ...         ...  ...            ...             ...
6812  TF56202  California  ...   Two-Door Car       37.492591
6813  YM19146  California  ...  Four-Door Car       48.946675
6814  LA72316  California  ...  Four-Door Car       65.310053
6815  PK87824  California  ...  Four-Door Car       48.002914
6816  UP19263  California  ...  Four-Door Car       45.151858

[6817 rows x 12 columns]

In [6]:
df=df.drop(['Customer', 'Vehicle_Class','avg_vehicle_age', 'months_last_claim', 'Total_Claim_Amount'],axis=1)

In [7]:
df

           State           CLV  ... monthly_premium  Months_Since_Policy_Inception
0     Washington   2763.519279  ...              69                              5
1         Nevada  12887.431650  ...             108                             38
2     Washington   2813.692575  ...              73                             44
3         Oregon   8256.297800  ...              69                             94
4         Oregon   5380.898636  ...              67                             13
...          ...           ...  ...             ...                            ...
6812  California   5032.165498  ...              64                             48
6813  California   4100.398533  ...             104                             58
6814  California  23405.987980  ...              73                             89
6815  California   3096.511217  ...              79                             28
6816  California   7524.442436  ...              96                              3

[6817 rows x 7 columns]

In [8]:
array=df.values

In [ ]:
array[:,1] = array[:, 1].astype(float)
array[:,3] = array[:, 1].astype(float)
array[:,5] = array[:, 1].astype(float)
array[:,6] = array[:, 1].astype(float)

In [9]:
array

array([['Washington', 2763.519279, 'Basic', ..., 'Suburban', 69, 5],
       ['Nevada', 12887.43165, 'Premium', ..., 'Suburban', 108, 38],
       ['Washington', 2813.692575, 'Basic', ..., 'Rural', 73, 44],
       ...,
       ['California', 23405.98798, 'Basic', ..., 'Urban', 73, 89],
       ['California', 3096.511217, 'Extended', ..., 'Suburban', 79, 28],
       ['California', 7524.442436, 'Extended', ..., 'Suburban', 96, 3]],
      dtype=object)

In [10]:
kproto = KPrototypes(n_clusters=3, verbose=2, max_iter=20)
clusters = kproto.fit_predict(array, categorical=[0,2,4])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 1749, ncost: 835655328241.3431
Run: 1, iteration: 2/20, moves: 719, ncost: 791137508685.3107
Run: 1, iteration: 3/20, moves: 160, ncost: 787406705329.9142
Run: 1, iteration: 4/20, moves: 92, ncost: 786250986461.8673
Run: 1, iteration: 5/20, moves: 63, ncost: 785704109006.9407
Run: 1, iteration: 6/20, moves: 33, ncost: 785571996335.9269
Run: 1, iteration: 7/20, moves: 11, ncost: 785552822475.9591
Run: 1, iteration: 8/20, moves: 6, ncost: 785548092552.7047
Run: 1, iteration: 9/20, moves: 4, ncost: 785545634415.1553
Run: 1, iteration: 10/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 1306, ncost: 900316930522.4983
Run: 2, iteration: 2/20, moves: 712, ncost: 828696046178.3687
Run: 2, iteration: 3/20, moves: 482, ncost: 799782886811.652
Run: 2, iteration: 4/20, moves: 282, ncost: 790312486354.1959
Run: 2, iteration: 5/20, moves: 156, ncost: 787264478875.8324
Run: 2, iteration: 6/20, moves: 90, ncost: 786160883048.8156
Run: 2, iteration: 7/20, moves: 65, ncost: 785655956320.5768
Run: 2, iteration: 8/20, moves: 26, ncost: 785566620155.1417
Run: 2, iteration: 9/20, moves: 10, ncost: 785551468522.303
Run: 2, iteration: 10/20, moves: 6, ncost: 785546422486.777
Run: 2, iteration: 11/20, moves: 2, ncost: 785545634415.1555
Run: 2, iteration: 12/20, moves: 0, ncost: 785545634415.1555
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 1019, ncost: 811164395945.0798
Run: 3, iteration: 2/20, moves: 360, ncost: 793011477580.0316
Run: 3, iteration: 3/20, moves: 202, ncost: 788045136525.8889
Run: 3, iteration: 4/20, moves: 110, ncost: 786496091108.3054
Run: 3, iteration: 5/20, moves: 79, ncost: 785739359865.1389
Run: 3, iteration: 6/20, moves: 39, ncost: 785571996335.9274
Run: 3, iteration: 7/20, moves: 11, ncost: 785552822475.9586
Run: 3, iteration: 8/20, moves: 6, ncost: 785548092552.7048
Run: 3, iteration: 9/20, moves: 4, ncost: 785545634415.1554
Run: 3, iteration: 10/20, moves: 0, ncost: 785545634415.1554
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 1768, ncost: 927777351676.6741
Run: 4, iteration: 2/20, moves: 867, ncost: 842193110688.0717
Run: 4, iteration: 3/20, moves: 550, ncost: 804939936768.2428
Run: 4, iteration: 4/20, moves: 343, ncost: 791536618295.5936
Run: 4, iteration: 5/20, moves: 170, ncost: 787758777586.0884
Run: 4, iteration: 6/20, moves: 100, ncost: 786415917594.5874
Run: 4, iteration: 7/20, moves: 74, ncost: 785726741417.69
Run: 4, iteration: 8/20, moves: 35, ncost: 785576817979.9011
Run: 4, iteration: 9/20, moves: 12, ncost: 785553835556.5503
Run: 4, iteration: 10/20, moves: 4, ncost: 785550664653.3425
Run: 4, iteration: 11/20, moves: 7, ncost: 785545634415.155
Run: 4, iteration: 12/20, moves: 0, ncost: 785545634415.155
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 945, ncost: 830358947839.0968
Run: 5, iteration: 2/20, moves: 466, ncost: 799996354922.9194
Run: 5, iteration: 3/20, moves: 278, ncost: 790479411642.5065
Run: 5, iteration: 4/20, moves: 157, ncost: 787331663278.2162
Run: 5, iteration: 5/20, moves: 93, ncost: 786183724462.9105
Run: 5, iteration: 6/20, moves: 67, ncost: 785655956320.5771
Run: 5, iteration: 7/20, moves: 26, ncost: 785566620155.142
Run: 5, iteration: 8/20, moves: 10, ncost: 785551468522.3029
Run: 5, iteration: 9/20, moves: 6, ncost: 785546422486.777
Run: 5, iteration: 10/20, moves: 2, ncost: 785545634415.1553
Run: 5, iteration: 11/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 1445, ncost: 788826663941.0365
Run: 6, iteration: 2/20, moves: 253, ncost: 785610469642.5636
Run: 6, iteration: 3/20, moves: 32, ncost: 785549966704.2423
Run: 6, iteration: 4/20, moves: 8, ncost: 785540918453.7345
Run: 6, iteration: 5/20, moves: 0, ncost: 785540918453.7345
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 198, ncost: 785585851793.0757
Run: 7, iteration: 2/20, moves: 16, ncost: 785547192424.9099
Run: 7, iteration: 3/20, moves: 3, ncost: 785545634415.1553
Run: 7, iteration: 4/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 1495, ncost: 822465778002.8368
Run: 8, iteration: 2/20, moves: 714, ncost: 787420571157.1841
Run: 8, iteration: 3/20, moves: 100, ncost: 786165174923.167
Run: 8, iteration: 4/20, moves: 48, ncost: 785872117957.9688
Run: 8, iteration: 5/20, moves: 37, ncost: 785690810985.0094
Run: 8, iteration: 6/20, moves: 15, ncost: 785652773397.5132
Run: 8, iteration: 7/20, moves: 16, ncost: 785609292387.8528
Run: 8, iteration: 8/20, moves: 13, ncost: 785587014534.5714
Run: 8, iteration: 9/20, moves: 6, ncost: 785580196116.0239
Run: 8, iteration: 10/20, moves: 4, ncost: 785577307058.1285
Run: 8, iteration: 11/20, moves: 4, ncost: 785574087818.5051
Run: 8, iteration: 12/20, moves: 3, ncost: 785572843787.3961
Run: 8, iteration: 13/20, moves: 0, ncost: 785572843787.3961
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 1356, ncost: 974851249409.9043
Run: 9, iteration: 2/20, moves: 1028, ncost: 862954556148.8556
Run: 9, iteration: 3/20, moves: 624, ncost: 814139185538.544
Run: 9, iteration: 4/20, moves: 408, ncost: 794232608763.2021
Run: 9, iteration: 5/20, moves: 199, ncost: 788948460570.6641
Run: 9, iteration: 6/20, moves: 127, ncost: 786870228602.3743
Run: 9, iteration: 7/20, moves: 87, ncost: 785903097925.9777
Run: 9, iteration: 8/20, moves: 51, ncost: 785606912443.4148
Run: 9, iteration: 9/20, moves: 18, ncost: 785557453367.9036
Run: 9, iteration: 10/20, moves: 7, ncost: 785550664653.3425
Run: 9, iteration: 11/20, moves: 7, ncost: 785545634415.1553
Run: 9, iteration: 12/20, moves: 0, ncost: 785545634415.1553
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 1012, ncost: 789832082097.8794
Run: 10, iteration: 2/20, moves: 180, ncost: 786557752434.0822
Run: 10, iteration: 3/20, moves: 72, ncost: 785798782971.2075
Run: 10, iteration: 4/20, moves: 45, ncost: 785578733962.4832
Run: 10, iteration: 5/20, moves: 13, ncost: 785553835556.5503
Run: 10, iteration: 6/20, moves: 4, ncost: 785550664653.3427
Run: 10, iteration: 7/20, moves: 7, ncost: 785545634415.1553
Run: 10, iteration: 8/20, moves: 0, ncost: 785545634415.1553
Best run was number 6

In [11]:
print(kproto.cluster_centroids_)

[['8035.160144780586' '26660.126312106368' '92.62491252624213'
  '46.98040587823653' 'California' 'Basic' 'Suburban']
 ['8055.071059713507' '82981.0392699115' '90.96183628318585'
  '47.61338495575221' 'California' 'Basic' 'Suburban']
 ['8319.71977855695' '54736.470943747096' '95.09437470943747'
  '49.14923291492329' 'California' 'Basic' 'Suburban']]

In [12]:
cluster_dict=[]
for c in clusters:
  cluster_dict.append(c)

In [13]:
cluster_dict

[2,
 2,
 2,
 2,
 2,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 2,
 2,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 1,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 2,
 0,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 2,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 1,
 1,
 0,
 1,
 2,
 2,
 0,
 2,
 1,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 2,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 2,
 2,
 1,
 1,
 0,
 0,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 0,
 2,
 0,
 0,
 1,
 1,
 2,
 2,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 1,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 1,
 2,
 0,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 2,
 1,
 2,
 2,
 2,
 0,
 1,
 0,
 2,
 1,
 2,
 2,
 0,
 0,
 2,
 0,
 0,
 2,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 1,
 2,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 2,
 2,
 0,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 2,
 1,
 1,
 2,
 2,
 2,
 0,
 2,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 0,
 1,
 2,
 2,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 2,
 0,
 2,
 2,
 1,
 2,
 0,
 2,
 2,
 1,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 0,
 1,
 1,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 2,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 0,
 1,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 2,
 0,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 2,
 1,
 0,
 0,
 2,
 1,
 0,
 1,
 1,
 2,
 1,
 0,
 2,
 1,
 2,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 2,
 1,
 0,
 2,
 0,
 0,
 0,
 2,
 2,
 1,
 0,
 2,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 2,
 0,
 0,
 1,
 2,
 1,
 1,
 2,
 2,
 0,
 2,
 0,
 0,
 2,
 1,
 0,
 2,
 2,
 0,
 2,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 2,
 0,
 0,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 1,
 0,
 2,
 1,
 2,
 0,
 0,
 2,
 1,
 2,
 1,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 2,
 0,
 2,
 0,
 1,
 1,
 2,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 1,
 1,
 2,
 2,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 1,
 2,
 1,
 2,
 0,
 0,
 2,
 0,
 2,
 1,
 0,
 0,
 2,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 0,
 1,
 1,
 2,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 1,
 2,
 1,
 1,
 0,
 1,
 0,
 2,
 0,
 2,
 1,
 0,
 0,
 2,
 1,
 0,
 2,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 0,
 2,
 2,
 0,
 0,
 0,
 1,
 0,
 2,
 0,
 2,
 0,
 0,
 2,
 0,
 1,
 2,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 0,
 2,
 2,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 2,
 1,
 2,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 0,
 2,
 0,
 1,
 1,
 2,
 1,
 1,
 0,
 2,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 0,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 0,
 2,
 2,
 0,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 0,
 1,
 2,
 0,
 2,
 2,
 ...]

In [14]:
df['cluster']=cluster_dict

In [15]:
df

           State           CLV  ... Months_Since_Policy_Inception  cluster
0     Washington   2763.519279  ...                             5        2
1         Nevada  12887.431650  ...                            38        2
2     Washington   2813.692575  ...                            44        2
3         Oregon   8256.297800  ...                            94        2
4         Oregon   5380.898636  ...                            13        2
...          ...           ...  ...                           ...      ...
6812  California   5032.165498  ...                            48        2
6813  California   4100.398533  ...                            58        2
6814  California  23405.987980  ...                            89        1
6815  California   3096.511217  ...                            28        0
6816  California   7524.442436  ...                             3        0

[6817 rows x 8 columns]

In [16]:
df[df['cluster']==0].head(10)

         State           CLV  ... Months_Since_Policy_Inception  cluster
5       Oregon  24127.504020  ...                             3        0
6       Oregon   7388.178085  ...                             7        0
10      Oregon   7463.139377  ...                            50        0
11      Nevada   2566.867823  ...                             7        0
12  California   3945.241604  ...                            59        0
16  Washington   3041.791561  ...                            49        0
17     Arizona  24127.504020  ...                             3        0
18  California   2392.107890  ...                            91        0
20  Washington   5346.916576  ...                            64        0
23     Arizona   2454.583540  ...                             6        0

[10 rows x 8 columns]

In [17]:
df[df['cluster']==1].head(10)

         State           CLV  ... Months_Since_Policy_Inception  cluster
7   California   8798.797003  ...                            82        1
8      Arizona   8819.018934  ...                            25        1
9   California   5384.431665  ...                            10        1
19      Oregon   5802.065978  ...                             1        1
21     Arizona  12902.560140  ...                            54        1
22      Oregon   3235.360468  ...                            44        1
27     Arizona   5744.229745  ...                            40        1
34  Washington   2443.665166  ...                            56        1
53      Oregon  22643.834780  ...                            12        1
56      Oregon   4974.801539  ...                            68        1

[10 rows x 8 columns]

In [18]:
df[df['cluster']==2].head(10)

         State           CLV  ... Months_Since_Policy_Inception  cluster
0   Washington   2763.519279  ...                             5        2
1       Nevada  12887.431650  ...                            38        2
2   Washington   2813.692575  ...                            44        2
3       Oregon   8256.297800  ...                            94        2
4       Oregon   5380.898636  ...                            13        2
13      Oregon   5710.333115  ...                             1        2
14  California   8162.617053  ...                            21        2
15      Oregon   2872.051273  ...                            21        2
24      Nevada  18975.456110  ...                            14        2
25  Washington   5018.885233  ...                            17        2

[10 rows x 8 columns]